{% extends 'layout.html' %}

    {% block content %}

<div>
    <h2>Bot Trading Dashboard</h2><br><br>
<table>
    <tr>
        <td>Trading Pair</td>
        <td>{{ dashBoardData["trading_pairs"][0]["swapToken"] }} - {{ dashBoardData["trading_pairs"][0]["baseToken"] }}</td>
    </tr>
    <tr>
        <td>Actual price</td>
        <td>{{ dashBoardData["last_quotes"][0]["toAmount"] }}</td>
    </tr>
    <tr>
        <td>Outstanding virtual buy orders</td>
        <td>{{ dashBoardData["buy_orders"][0]["BTSBUSD"]|length }}</td>
    </tr>
    <tr>
        <td>Outstanding virtual sell orders</td>
        <td>{{ dashBoardData["sell_orders"]|length }}</td>
    </tr>
    <tr>
        <td>Value of outstanding virtual sell orders</td>
        <td>{{ dashBoardData["sell_orders"]|sum(attribute='amountSwapped') }}</td>
    </tr>
    <tr>
        <td>Closed Trades</td>
        <td>{{ dashBoardData["closed_trades"]|length }}</td>
    </tr>
    <tr>
        <td>Total profit</td>
        <td>{{ dashBoardData["closed_trades"]| sum(attribute='expectedprofit') }}</td>
    </tr>
    <tr>
        <td>Last buy order cycle time</td>
        <td>{% if dashBoardData["buy_orders"][0]["BTSBUSD"]|length > 0 %} {{ dashBoardData["buy_orders"][0]["BTSBUSD"][0]["dateTimeStamp"] }}{% endif %}</td>
    </tr>
    <tr>
        <td>Last quote actualisation time</td>
        <td>{% if dashBoardData["last_quotes"]|length > 0 %} {{ dashBoardData["last_quotes"][0]["dateTimeStamp"] }}{% endif %}</td>
    </tr>
</table>


</div>
    {% endblock content %}