<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trading Bot DashBoard</title>
</head>
<body>
<a href="/">Home</a> |
<a href="/quote">Last quotes</a> |
<a href="/buyorders">Outstanding buy orders</a> |
<a href="/sellorders">Outstanding sell orders</a> |
<a href="/trades">Closed trades</a>

<br>
<br>
{% block content %}

{% endblock content %}

<br>
<br>
<a href="/protocols">Protocols</a> |
<a href="/tokens">Tokens</a> |
<a href="/schedule/quotes">Actualise Quotes</a> |
<a href="/schedule/placevirtualbuyorders">Place virtual buy orders</a> |
<a href="/restart">Restart</a>
</body>
</html>